.dropdown-arrow {
  @apply fill-paper;
}

.dropdown-content {
  @apply min-w-[230px] bg-paper shadow-popover flex flex-col overflow-hidden rounded-lg text-sm dark:border;

  @media (prefers-reduced-motion: no-preference) {
    will-change: transform, opacity;
    &[data-state="open"] {
      &[data-side="top"] {
        @apply animate-slideUpAndFade;
      }
      &[data-side="bottom"] {
        @apply animate-slideDownAndFade;
      }
      &[data-side="right"] {
        @apply animate-slideRightAndFade;
      }
      &[data-side="left"] {
        @apply animate-slideLeftAndFade;
      }
    }
  }
}

.dropdown-item {
  @apply flex items-center transition duration-200 px-3 py-2 outline-none cursor-pointer;
  color: currentColor;

  &:focus,
  &:hover {
    @apply bg-opacity-50 bg-gray-200;
  }

  & .dropdown-item-left-slot {
    @apply text-tMuted inline-flex items-center mr-2;

    & svg {
      @apply h-4 w-4;
    }
  }

  &.dropdown-item-danger {
    @apply text-red-500;
    &:focus,
    &:hover {
      @apply bg-opacity-20 bg-red-400;
    }

    & .dropdown-item-left-slot {
      @apply text-red-500;
    }
  }

  &.dropdown-item-primary {
    @apply text-primary-500;
    &:focus,
    &:hover {
      @apply bg-opacity-20 bg-primary-400;
    }

    & .dropdown-item-left-slot {
      @apply text-primary-500;
    }
  }
}

.dropdown-separator {
  @apply bg-border;
  height: 1px;
}

.dropdown-label {
  @apply text-xs text-tMuted pl-9 py-1;
}

.dropdown-radio {
  & > .dropdown-radio-item {
    @apply pr-5 py-2 pl-9 relative outline-none cursor-pointer;
    &:focus,
    &:hover {
      @apply bg-opacity-50 bg-gray-200;
    }

    & > .dropdown-radio-icon {
      @apply absolute left-2 top-0 bottom-0 flex items-center justify-center;

      & svg {
        @apply h-4 w-4 text-tMuted;
      }
    }
  }
}
