.form-control {
  align-items: flex-start;
  display: flex;
  flex-direction: column;

  &.form-error {
    & input,
    select {
      @apply ring-2 ring-red-500;
    }
  }

  & label {
    @apply text-sm flex items-center justify-between py-2 pr-1 select-none font-bold;
  }

  & .error {
    @apply text-sm text-red-500 mt-2;
  }

  & .form-label-required {
    @apply ml-1 text-red-400;
  }
}
