.formControl {
  align-items: flex-start;
  display: flex;
  flex-direction: column;

  &.formError {
    & input,
    select {
      @apply ring-2 ring-red-500;
    }
  }

  & label {
    @apply text-sm flex items-center justify-between py-2 pr-1 select-none;
  }

  & .error {
    @apply text-sm text-red-500 mt-2;
  }

  &.formDisabled {
    & label {
      @apply text-gray-300;
    }
    & input,
    select {
      @apply cursor-not-allowed bg-opacity-5 text-opacity-50 placeholder-opacity-50 placeholder-gray-400 text-gray-400;
    }
  }
}
