.editor {
  @apply p-2 relative bg-paper border rounded-lg;

  & .menu {
    @apply pb-2 border-b;

    & .is-active {
      @apply text-primary;
    }
  }

  & .content {
    @apply relative rounded-lg;

    & .prose {
      @apply w-full max-w-full;
    }

    & .code-block {
      @apply relative;

      select {
        @apply text-white dark:text-white bg-gray-400 bg-opacity-20 text-sm rounded py-1 px-1 absolute right-2 top-2;

        & option {
          @apply bg-gray-600 dark:bg-gray-600;
        }
      }
    }
  }
}

.editor-title {
  @apply text-4xl font-bold w-full py-2 mt-5 mb-8 bg-transparent resize-none outline-none border-none;
  line-height: 1.5;
}

.EasyMDEContainer .CodeMirror {
  font-size: 0.875rem !important;
  line-height: 1.25rem !important;
}
