.toc-list {
  @apply relative p-0 list-none;

  &::before {
    content: "";
    width: 2px;
    top: 17px;
    bottom: 8px;
    left: 5px;
    border-radius: 0 0 5px 5px;
    @apply absolute bg-gray-300;
  }

  & li {
    padding-left: 21px;
    margin-top: 5px;
    position: relative;
    @apply relative font-medium text-sm text-gray-500;

    &::before {
      content: "";
      left: 0;
      top: 4px;
      border-radius: 50%;
      @apply absolute w-3 h-3 bg-primary-300 border-2
        border-paper;
    }

    & a {
      @apply relative my-2 line-clamp-2;
    }
  }
}
