.toc-list {
  @apply relative p-0 list-none;

  &::before {
    content: "";
    width: 2px;
    top: 17px;
    bottom: 8px;
    left: 5px;
    border-radius: 0 0 5px 5px;
    @apply absolute bg-gray-300;
  }

  & li {
    padding-left: 21px;
    margin-top: 5px;
    position: relative;
    @apply relative font-semibold text-sm text-tMuted;

    &::before {
      content: "";
      left: 0;
      top: 4px;
      border-radius: 50%;
      @apply absolute w-3 h-3 bg-primary-300 border-2
        border-paper;
    }

    & a {
      @apply relative mt-0 sm:mt-2 mb-2 line-clamp-2;
    }

    &.active {
      &::before {
        @apply bg-primary-600 border-primary-200;
      }
      & a {
        @apply text-tDefault font-bold;
      }

      &.depth-2 {
        &::before {
          content: "";
          left: 0;
          @apply w-3 h-3;
        }
      }
    }

    &.depth-2 {
      @apply font-normal;
      &::before {
        content: "";
        left: 2px;
        @apply w-2 h-2;
      }
    }
  }
}
