.editor {
  @apply -mx-5 md:mx-auto;
}
.editor-actions {
  @apply bg-paper py-3 fixed bottom-0 left-0 w-full top-auto border-t z-10;
}

.editor-title {
  @apply text-2xl md:text-4xl font-bold w-full py-2 mt-5 mb-8 bg-transparent resize-none outline-none border-none;
  line-height: 1.5;
}
.md_editor {
  @apply border border-t-0 border-border;
  & .CodeMirror {
    @apply h-auto min-h-[300px] pr-6 py-4;
  }

  & .cm-s-github-dark.CodeMirror,
  .cm-s-github-dark .CodeMirror-lines,
  .cm-s-github-dark .CodeMirror-gutters {
    @apply bg-paper;
  }
}
.editor-preview-tw {
  @apply max-w-5xl mx-auto p-8 pl-4 bg-paper border border-t-0;
}

// COMPONENT CLASSES

.tag-field {
  & .rs__control {
    @apply bg-base border-0 shadow-none text-sm text-tMuted;

    & .rs__input {
      color: var(--color-text-default) !important;
      &::placeholder {
        @apply text-tMuted;
      }
    }

    & .rs__value-container {
      padding: 6px 8px;

      & .rs__multi-value {
        @apply bg-paper text-sm shadow-sm rounded;
        margin: 4px 7px 4px 0;

        & .rs__multi-value__label {
          @apply text-tDefault text-sm;
        }

        & .rs__multi-value__remove {
          @apply text-tMuted;
        }
      }
    }

    & .rs__clear-indicator {
      @apply text-tMuted;
    }

    & .rs__indicator-separator {
      @apply bg-tMuted;
    }

    & .rs__dropdown-indicator {
      @apply text-tMuted;
    }
  }
}

// moved to portal
.rs__menu-portal {
  z-index: 50 !important;
}
.rs__menu {
  @apply shadow rounded-none bg-paper;
}

.rs__menu-list {
  @apply bg-paper text-sm max-h-32;

  .rs__option {
    @apply cursor-pointer;
  }

  .rs__option--is-focused {
    @apply text-primary bg-primary bg-opacity-20;
  }
}
