.editor {
  @apply p-2 relative bg-paper border rounded-lg;

  & .menu {
    @apply pb-2 border-b;

    & .is-active {
      @apply text-primary;
    }
  }

  & .content {
    @apply relative rounded-lg;

    & .prose {
      @apply w-full max-w-full;
    }

    & .code-block {
      @apply relative;

      select {
        @apply text-white dark:text-white bg-gray-400 bg-opacity-20 text-sm rounded py-1 px-1 absolute right-2 top-2;

        & option {
          @apply bg-gray-600 dark:bg-gray-600;
        }
      }
    }
  }
}

.editor-title {
  @apply text-4xl font-bold w-full py-2 mt-5 mb-8 bg-transparent resize-none outline-none border-none;
  line-height: 1.5;
}
.md_editor {
  @apply pt-2;

  & .CodeMirror {
    @apply h-auto min-h-[300px];
  }

  & .cm-s-github-dark.CodeMirror,
  .cm-s-github-dark .CodeMirror-lines,
  .cm-s-github-dark .CodeMirror-gutters {
    @apply bg-paper;
  }
}

.editor-container {
  & .editor-preview-tw {
    @apply max-w-5xl mx-auto p-8 pl-4;
  }
}

.tag-field {
  & .rs__control {
    @apply bg-base border-0 shadow-none text-sm text-tMuted;

    & .rs__input {
      color: var(--color-text-default) !important;
      &::placeholder {
        @apply text-tMuted;
      }
    }

    & .rs__value-container {
      padding: 6px 8px;

      & .rs__multi-value {
        @apply bg-paper text-sm shadow-sm rounded;
        margin: 4px 7px 4px 0;

        & .rs__multi-value__label {
          @apply text-tDefault text-sm;
        }

        & .rs__multi-value__remove {
          @apply text-tMuted;
        }
      }
    }

    & .rs__clear-indicator {
      @apply text-tMuted;
    }

    & .rs__indicator-separator {
      @apply bg-tMuted;
    }

    & .rs__dropdown-indicator {
      @apply text-tMuted;
    }
  }
}

// moved to portal
.rs__menu {
  @apply shadow rounded-none bg-paper;
}

.rs__menu-list {
  @apply bg-paper text-sm max-h-32;

  .rs__option {
    @apply cursor-pointer;
  }

  .rs__option--is-focused {
    @apply text-primary bg-primary bg-opacity-20;
  }
}
