.light {
  --color-bg: #f0f2f5;
  --color-paper: #fff;
  --color-text-primary: #3c4043;
  --color-border: #dadce0;
  --color-text: #0f0f0f;
}

.dark {
  --color-bg: #18191a;
  --color-paper: #202124;
  --color-text-primary: #e8eaed;
  --color-border: #5f6368;
  --color-text: #e3e3e3;
}

@tailwind base;

html {
  @apply h-full;
}

body {
  @apply bg-base ring-offset-paper h-full;
  color: var(--color-text);
}

div#__next {
  height: 100%;
}

.ProseMirror {
  @apply outline-none p-4 rounded-lg;
  pre {
    background: #0d0d0d !important;
    color: #fff !important;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;

    code {
      color: inherit;
      padding: 0;
      background: none;
      font-size: 0.8rem;
    }

    .hljs-comment,
    .hljs-quote {
      color: #616161;
    }

    .hljs-variable,
    .hljs-template-variable,
    .hljs-attribute,
    .hljs-tag,
    .hljs-name,
    .hljs-regexp,
    .hljs-link,
    .hljs-name,
    .hljs-selector-id,
    .hljs-selector-class {
      color: #f98181;
    }

    .hljs-number,
    .hljs-meta,
    .hljs-built_in,
    .hljs-builtin-name,
    .hljs-literal,
    .hljs-type,
    .hljs-params {
      color: #fbbc88;
    }

    .hljs-string,
    .hljs-symbol,
    .hljs-bullet {
      color: #b9f18d;
    }

    .hljs-title,
    .hljs-section {
      color: #faf594;
    }

    .hljs-keyword,
    .hljs-selector-tag {
      color: #70cff8;
    }

    .hljs-emphasis {
      font-style: italic;
    }

    .hljs-strong {
      font-weight: 700;
    }
  }
}

@tailwind components;

// components
@import "../components/Button/button.scss";
@import "../components/Container/container.scss";
@import "../components/Dialog/dialog.scss";
@import "../components/Spinner/spinner.scss";
@import "../components/Input/input.scss";
@import "../components/FormControl/formControl.scss";
@import "../components/Avatar/avatar.scss";
@import "../components/Dropdown/dropdown.scss";
@import "../components/Slider/slider.scss";
@import "../components/Editor/editor.scss";

.r-icon {
  @apply h-6 w-6;
}

.toastOverride {
  @apply text-sm dark:border dark:border-gray-500 dark:border-opacity-20;
  background: var(--color-paper) !important;
  color: var(--color-text-primary) !important;
  z-index: 10000;
}

@tailwind utilities;
