.light {
  --color-bg: #f0f2f5;
  --color-paper: #fff;
  --color-text-primary: #3c4043;
  --color-border: #dadce0;
  --color-text: #0f0f0f;
}

.dark {
  --color-bg: #18191a;
  --color-paper: #202124;
  --color-text-primary: #e8eaed;
  --color-border: #5f6368;
  --color-text: #e3e3e3;
}

@tailwind base;

html {
  @apply h-full;
}

body {
  @apply bg-base ring-offset-paper h-full;
  color: var(--color-text);
}

div#__next {
  height: 100%;
}

@tailwind components;

// components
@import "../components/Button/button.scss";
@import "../components/Container/container.scss";
@import "../components/Dialog/dialog.scss";
@import "../components/Spinner/spinner.scss";
@import "../components/Input/input.scss";
@import "../components/FormControl/formControl.scss";

.r-icon {
  @apply h-6 w-6;
}

@tailwind utilities;
