.light {
  --color-bg: #edf2f7;
  --color-paper: #fff;
  --color-text-primary: #3c4043;
  --color-border: #5c93bb2b;
  --color-text-default: #0f0f0f;
  --color-text-muted: #57606a;
}

.dark {
  --color-bg: #18191a;
  --color-paper: #202124;
  --color-text-primary: #e8eaed;
  --color-border: #5f6368;
  --color-text-default: #e3e3e3;
  --color-text-muted: #768390;
}

@tailwind base;

html {
  @apply h-full;
}

body {
  @apply bg-base ring-offset-paper h-full;
  color: var(--color-text-default);
}

div#__next {
  height: 100%;
}

@tailwind components;

// ui specific styles

@import "./editor.scss";

// components styles
@import "../components/Button/button.scss";
@import "../components/Container/container.scss";
@import "../components/Dialog/dialog.scss";
@import "../components/Spinner/spinner.scss";
@import "../components/Input/input.scss";
@import "../components/FormControl/formControl.scss";
@import "../components/Avatar/avatar.scss";
@import "../components/Dropdown/dropdown.scss";
@import "../components/Slider/slider.scss";
@import "../components/Editor/editor.scss";
@import "../components/Switch/switch.scss";
@import "../components/Skeleton/skeleton.scss";
@import "../components/Tabs/tabs.scss";
@import "../components/Toc/toc.scss";

@import "./misc.scss";

@tailwind utilities;
