.r-icon {
  @apply h-6 w-6;
}

.gray-bg {
  @apply bg-gray-100 dark:bg-gray-100 dark:bg-opacity-5;
}

.emoji-mart-anchor-bar {
  width: 56% !important;
}

.toastOverride {
  @apply text-sm dark:border dark:border-gray-500 dark:border-opacity-20;
  background: var(--color-paper) !important;
  color: var(--color-text-primary) !important;
  z-index: 10000;
}
