.prose {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    scroll-margin-top: 72px; // 56px (sticky header + 16 )

    &:hover,
    &:focus {
      & .anchor {
        &::before {
          @apply opacity-100 visible;
        }
      }
    }

    & .anchor {
      @apply hidden sm:inline sm:relative;

      &::before {
        content: "";
        @apply absolute block opacity-0;
        left: -25px;
        top: 0.1em;
        background: url(https://firebasestorage.googleapis.com/v0/b/flare-ef66d.appspot.com/o/misc%2Flink.svg?alt=media&token=27fb6799-3a39-411b-9dda-f4791b1cadd9)
          no-repeat 50%;
        background-size: auto;
        background-size: 20px 20px;
        padding-right: 5px;
        height: 1em;
        width: 24px;
      }
    }
  }
  & .code-span {
    & code {
      padding: 0.2em 0.4em;
      font-size: 85%;
      @apply bg-gray-400 bg-opacity-20 m-0 rounded-md;

      &::before {
        content: none;
      }
      &::after {
        content: none;
      }
    }
  }
}
